h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: red;
}

canvas {
    border-color: black;
    border-width: 9px;
    border-radius: 8px;
    border-style: solid;
    background-color: white;
}